@page
@model AbbyWeb.Pages.Categories.DeleteModel

<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input disabled asp-for="Category.Name" class="form-control"/>
        </div>
        <div cite="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input disabled asp-for="Category.DisplayOrder" class="form-control"  />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to the list</a>
    </div>
    
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
